/* 
 * === Resets and Mixins === 
 */
@import 'reset';
@import 'mixins';

/* 
 * --- Defaults ---
 */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1em/1.5em;
	min-height: 100%;
	line-height: 1;
}


#modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $overlay;
	@include opacity(.8);
	z-index: 1000;
}

/* 
 * === Model Content Wrapper === 
 */
#modal-content {
	color: $main;
	display: none;
	top: 200px;
	width: 100%;
	max-width: 442px;
	height: 100%;
	min-height: 430px;
	margin: 0 auto;
	position: relative;
	background-color: #eeeeee;
	z-index: 1000;
	@include boxShadowOut(-2px, 2px, 2px, rgba(0,0,0,0.1));

	.modal-banner {
		color: white;
		background-color: $banner-color;
		height: 84px;
		width: 100%;
		position: relative;

		.modal-info {
			position: relative;
			padding: 11px 0 11px 0;
			width: 100%;
			height: 100%;
			@include boxShadowIn(0px, -20px, 7px, -19px, rgba(0,0,0,0.8), inset);
		}
	}
}

/* 
 * --- Modal Content: Little Guru  ---
 */
#modal-content .modal-banner .modal-info .little-guru {
	position: relative;
	width: 43.43891402714932%; /* 192/442 */
	float: left;
	color: $banner-color;

	svg {
		display: block;
		position: absolute;
		height: 285px;
		z-index: 1000;
		top: -212px;
		left: -90px;
	}

	.modal-smart-guru {
		position: absolute;
		height: 285px;
		z-index: 1000;
		top: -212px;
		left: -83px;
	}
}

/* 
 * --- Modal Content: Textual Info  ---
 */
#modal-content .modal-banner .modal-info {
	.modal-title-text {
		width: 40.72398190045249%; /* 180/442 */
		float: left;
		font-size: 1.375em; /* 22/16 */
		line-height: 1em;
		font-weight: 700;
		text-align: center;
		position: relative;
		display: block;

		span {
			text-transform: uppercase;
			font-size:1.35em; /* 32/16 */
			line-height: 1.35em;
		}
	}

	.modal-smart{
		margin-top: 3px;
		text-transform: uppercase;
		font-size: 1.275em;
	}

	.modal-success {
		margin-top: 10px;
	}

	.close-reveal-modal {
		font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
		width:  15.83710407239819%; /* 70/442 */ 
		height: 100%;
		float: right;
		position: relative;

		.modal-escape {
			width: 28px;
			height: 28px;
			background-color: $modalCircle;
			color: $modalExit;
			text-align: center;
			font-size: 1.1875em;  /*19/16*/
			line-height: 1.1em;
			position: absolute;
			left: 36%;
			padding: 1px;
			-webkit-box-shadow: inset 1px 1px rgba(0,0,0,0.2),
			inset  -1px -1px rgba(255,255,255,0.4);
			@include borderRadius(20px);

			&:hover {
				cursor: pointer;
			}
		}
	}
}

/* 
 * --- Modal Content: Main Content ---
 */
#modal-content .modal-main {
	font-family: Arial;
	font-size: 0.9375em;
	line-height: 1.2em;
	margin: 20px;
	color: $main;
	display: inline-block;

	.modal-form-description {
		word-spacing: 0.1em;

		p.modal-par-success {
			font-size: 0.9em;
		}
		p+ p {
			margin-top: 12px;
		}
		span {
			font-weight: bold;
		}

		.modal-columnOneSuccess {
			font-size: 1.25em;
			line-height: 1.25em;
			margin: 24px 0 0 0;
			width: 195px;
			float:left;
			color: #222222;
			position: relative;

			.modal-drinking-coffee {
				height:148px;
				width: 100%;
				padding-left: 12px;
				background: transparent url(../images/drinking_coffee.jpg) no-repeat center center;

				.modal-heading {
					top: 68px;
					position: absolute;
				}
			}
		}

		.modal-columnTwoSuccess {
			font-size: 1.25em;
			line-height: 1.25em;
			margin: 24px 0 0 0;
			width: 195px;
			float: right;
			color: #222222;
			position: relative;

			.modal-kids-playing {
				height:148px;
				width: 100%;
				padding-left: 12px;
				background: transparent url(../images/kids_playing.jpg) no-repeat center center;

				.modal-heading {
					top: 68px;
					position: absolute;
				}
			}
		}

		.modal-columnOneSuccess .modal-button,
		.modal-columnTwoSuccess .modal-button {
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			line-height: 1em;
			font-size: 0.75em;
			width: 100%;
			height:50px;
			color: white;
			font-weight: 700;
			background-color: $successColor;
			position: relative;
			cursor: pointer;
			padding: 12px 0px 12px 12px;

			&:active, &:focus {
				outline: none;
				outline: 2px solid white;
			}
		}

		.modal-columnOneSuccess .modal-button .modal-circle,
		.modal-columnTwoSuccess .modal-button .modal-circle { 
			position: absolute;
			top: 9px;
			right: 8px;
			width: 32px;
			height: 32px;
			background-color: $modalCircle;
			text-align: center;
			padding: 4px 0px 3px 3px;
			font-size: 1.25em;
			line-height: 1.255em;
			-webkit-box-shadow: inset -1px -1px rgba(0,0,0,0.6),
			inset 1px 1px rgba(255, 255,
			255, 0.6);
			@include borderRadius(32px);
		}

		.modal-bottom-link {
			width: 100%;
			text-align: center;
			font-size: 0.8em;
			clear: both;
			padding-top: 9px;

			a {
				color: #1f1f1f;

				&:active, &:focus {
					outline: none;
					outline: 2px solid white;
				}
			}

		}
	}
}


/* 
 * --- Modal Content: Form ---
 */
#modal-content .modal-form-description .modal-contact-form {
	margin: 26px 0 0 0;
	color: $form;

	.modal-columnOne {
		width: 195px;
		float:left;
		input {
			width: 100%;
			font-size: 0.875em; 
			padding: 6px;
			margin-bottom: 16px;
			border: 2px solid $borderColor;

			&:active, &:focus {
				outline: none;
				border: 2px solid white;
			}
		}
	}
	.modal-columnTwo {
		width: 195px;
		float:right;
		p {
			width: 155px;
			margin-bottom: 15px;
		}
		input[type="checkbox"] {
			display:none;
		}

		input[type="checkbox"] + label span {
			outline: none;
			display: inline-block;
			width: 30px;
			height: 18px;
			margin: -1px 11px 0 0;
			vertical-align: middle;
			background: url(../images/checkbox.png) -19px top no-repeat;
			cursor: pointer;
		}

		#c2 + label span {
			width: 25px;
		}

		input[type="checkbox"] + label {
			display: inline-flex;
			margin-bottom: 4px;
		}

		input[type="checkbox"]:checked + label span {
			background:url(../images/checkbox.png) left top no-repeat;
		}

		input[type="checkbox"]:checked + label {
			color: $main;
		}

		label {
			font-size: 0.77em;
		}
		.modalSubmitForm {
			margin-top: 6px;
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;
			font-size: 1.25em;
			width: 196px;
			height: 50px;
			color: white;
			padding: 15px 0px 15px 12px;
			font-weight: 700;
			background-color: $banner-color;
			position: relative;
			cursor: pointer;


			&:active, &:focus {
				outline: none;
				outline: 2px solid white;
			}

			.modal-circle {
				position: absolute;
				right: 8px;
				top: 9px;
				height: 32px;
				width: 32px;
				background-color: #d44f1e;
				text-align: center;
				font-size: 1.25em;
				line-height:1.25em;
				-webkit-box-shadow: inset 1px 1px rgba(0,0,0,0.6),
				inset -1px -1px rgba(255, 255,
				255, 0.6);
				@include borderRadius(32px);
			}
		}
		div.modalSubmitForm.getToWork {
			text-align: center;
			padding: 8px 36px 0px 0px;
		}
	}
}

/* --- active will display background and modal --- */
#modal-background.modal-active, #modal-content.modal-active {
	display: block;
}

/* 
 * === Media Queries === 
 */
@media only screen and (max-width: 628px) {
	#modal-content .modal-banner .modal-info .little-guru svg {
		height: 200px;
		top: -127px;
		left: -71px;
	}

	#modal-content .modal-banner .modal-info .little-guru .modal-smart-guru {
		height: 200px;
		top: -127px;
		left: -71px;
	}
}

@media only screen and (max-width: 488px) {
	#modal-content {
		top: 70px;
	}
	#modal-content .modal-banner .modal-info .little-guru svg {
		height: 160px;
		top: -87px;
		left: -70px;
	}
	#modal-content .modal-banner .modal-info .little-guru .modal-smart-guru {
		height: 160px;
		top: -87px;
		left: -70px;
	}
	#modal-content .modal-banner .modal-info .modal-title-text {
		font-size: 1.275em;
		line-height: 1.275em;
		left: 7px;
	}
	#modal-content .modal-main .modal-form-description .modal-contact-form .modal-columnOne {
		width: 100%;
	}
	#modal-content .modal-main .modal-form-description .modal-contact-form .modal-columnTwo {
		width: 100%;
		p {
			width: 100%;
		}
		input[type="checkbox"] + label span {
			margin-bottom: 11px;
			width: 20px;
		}
		#c2 + label span {
			width: 20px;
		}

		.modalSubmitForm {
			width: 100%;
		}

		div.modalSubmitForm.getToWork {
			padding: 16px 16px 0px 0px;
		}
	}

	/* --- success --- */
	#modal-content .modal-main .modal-form-description .modal-columnOneSuccess,
	#modal-content .modal-main .modal-form-description .modal-columnTwoSuccess {
		width: 100%;
		.modal-button {
			padding: 18px 0px 12px 12px;
		}
	}
}

@media only screen and (max-width: 442px) {
	#modal-content .modal-banner .modal-info .modal-success {
		font-size: 1.175em;
		line-height: 1.175em;
	}
}

@media only screen and (max-width: 424px) {
	#modal-content .modal-banner .modal-info .modal-smart,
	#modal-content .modal-banner .modal-info .modal-smart .modal-success {
		font-size: 1.175em;
		line-height: 1.175em;
	}
}

@media only screen and (max-width: 395px) {
	
	#modal-content .modal-banner .modal-info .little-guru svg {
		height: 120px;
		top: -47px;
		left: -90px;
	}
	#modal-content .modal-banner .modal-info .little-guru .modal-smart-guru {
		height: 120px;
		top: -47px;
		left: -90px;
	}
}

@media only screen and (max-width: 370px) {
	#modal-content .modal-banner .modal-info .modal-title-text {
		font-size: 0.9em;
		line-height: 0.9em;
		top: 10px;
		left: 7px;
	}
}

  
/* --- ie fix --- */
@-ms-viewport {
	zoom: 1.0;
	width: device-width;
}

